<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waiting...</title>
  </head>
  <body></body>
  <script>
    document.addEventListener("DOMContentLoaded", async function () {
      // Request on local API
      async function getDepots() {
        fetch("http://localhost:8080/api/depots", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            return data;
          });
      }
      const depots = await getDepots();
    });
  </script>
</html>
